body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: pink;
    color: green;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-color: pink;
    font-family: Georgia, serif;
    padding: 15px;
    font-size: 14pt;
    color: green;
    font-style: italic;
    margin: 10px;
    text-align: right;
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}

main {
    margin: 10px 20px 70px;
}

div.menu {
    border: 7px solid #00880080;
    border-radius: 5px;
    width: 250px;
    margin: 0 auto;
}

div.menu:hover {
    background-color: #ffffff30;
    box-shadow: 0 0 15px #00000030;
}

a {
    text-decoration: none;
    color: #d81b60;
    transition: 2s 2s;
}

a:link {
    color: #d81b60;
    text-shadow: 0 0 8px rgba(216,27,96,0.2);
    box-shadow: 0 2px 8px rgba(216,27,96,0.1);
}

a:visited {
    color: #9c27b0;
    text-shadow: 0 0 8px rgba(156,39,176,0.2);
    box-shadow: 0 2px 8px rgba(156,39,176,0.1);
}

a:hover {
    color:red;
    text-decoration: underline;
    box-shadow: 0 5px 15px rgba(255, 0, 0, 0.3);
    text-shadow: 0 0 8px rgba(255, 0, 0, 0.3);
    background-color: white;
    transition: 0.3s;
}

a:active {
    color: black;
    opacity: 0.3;
}

h1 {
    color: darkgreen;
    margin: 30px;
    font-size: 25pt;
}

ol li {
    color: darkblue;
    font-style: italic;
}
