body {
    background-color: lightblue;
    color: maroon;
    font-family: Arial, sans-serif;
    margin: 0;
}

header {
    background-color: pink;
    color: green;
    padding: 10px;
    font-size: 16pt;
}

footer {
    background-color: pink;
    font-family: Georgia, serif;
    padding: 15px;
    font-size: 14pt;
    color: green;
    font-style: italic;
    margin: 10px;
    text-align: right;
}

a {
    text-decoration: none;
    color: #d81b60;
}

h1 {
    color: darkgreen;
    margin: 30px;
    font-size: 35pt;
}
ol li {
    color: darkblue;
    font-style: italic;
}